body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(216,680,309)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* barra de navegacion */
.navbar {
    background-color: #333;
    color: white;
    overflow: hidden;
}

.navbar-title {
    text-align: center;
    font-size: 24px;
    padding: 14px 0;
}

/* menu */
#menu {
    width: 250px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -250px; /* menu arranca oculto */
    transition: left 0.3s ease-in-out;
}

#menu.active {
    left: 0; /* muestra el menu */
}

#ingresar-btn{
    position: absolute;
    top: 27px;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: left 0.3s ease-in-out; /* transicion para el boton del menu */
}

#menu-btn {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: left 0.3s ease-in-out; /* transicion para el boton del menu */
}

#menu-btn.active {
    position: fixed;
    left: 10000 px;
}

/* estilos para elementos del menu */
#opciones-menu{
    padding-top: 38px;
}

#menu a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 20px; /* margen superior para bajar los enlaces del menu */
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}

/* carousel de fotos */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%; /* establece un ancho fijo para el contenedor */
    max-height: 400px; /* ajusta la altura maxima */
}

.carousel-slide img {
    width: 600px;
    height: 100%;
    object-fit: cover;
}

.carousel-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.carousel-btn:hover {
    background-color: #0056b3;
}

/* tabla de movimientos */
table {
    width: 1000px;
    margin: 0 auto; /* centra la tabla */
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; /*  puntas redondeadas de la tabla */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

/* cuentas */

#tituloCuentas {
    margin-left: 4vw;
    display: block;
    width: 100%;
}

.cuentas {
    border: solid ghostwhite 2px;
    padding: 10px;
    box-shadow: 0 0 0.5rem rgba(7,48,46,0.2), 0 0 0.0625rem rgba(7,48,46,0.15);
    border-radius: 0.75rem;
    margin: 10px auto 30px;
    display: flex;
    flex-wrap: wrap;
}

.cuenta {
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    border-left: 0.5rem solid gray;
    border-radius: 0.3rem;
    padding: 0.6em;
    width: 40%;
    margin: 2%;
}

.cuenta p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* login */

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
}

#titulo img {
    height: 7vw;
    width: 7vw;
    margin-right: 10px;
}

#titulo h1 {
    align-items: center;
    font-size: 3vw;
}

#sectioninput {
    text-align: center;
}

#sectioninput label {
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520
}

#sectioninput input {
    width: 15vw;
    height: 1.4vw;
    background-color:bisque;
    border-radius: 5px;
    border-style: hidden;
    margin-bottom: 1vw;
}

#sectioninput button {
    background-color: rgb(0, 119, 255);
    border-style: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    border-radius: 5px;
    color: aliceblue;
    height: 4vh;
    width: 10vw;
} 

#footerderechos {
    bottom: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
}